/* Estilos para os textos */
.texto-h2, .texto-h1, .texto-h1-span {
    margin: 0px; /* Espaçamento entre os textos */
    font-family: "Montserrat", sans-serif;
}

.texto-h2 {
    margin-left: 1rem;
    font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 7.2px;
    color: #4d4d4d;
}

.texto-h1 {
    font-size: 15ch; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: 700;
}

.texto-h1-span {
    position: inherit;
    font-size: 15ch; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: 700;
}

.fade-text {
    animation: fadeInOut 3000ms infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
    .texto-h2 {
        font-size: 1.2rem; /* Reduz o tamanho da fonte */
        letter-spacing: 6px;
    }

    .texto-h1, .texto-h1-span {
        font-size: 12ch; /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 992px) {
    .texto-h2 {
        font-size: 1rem; /* Reduz o tamanho da fonte */
        letter-spacing: 5px;
    }

    .texto-h1, .texto-h1-span {
        font-size: 10ch; /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 768px) {
    #home-content{
        margin-bottom: 0px;
    }
    .texto-h2 {
        font-size: 0.8rem; /* Reduz o tamanho da fonte */
        letter-spacing: 4px;
    }

    .texto-h1, .texto-h1-span {
        font-size: 8ch; /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 576px) {
    .texto-h2 {
        font-size: 0.6rem; /* Reduz o tamanho da fonte */
        letter-spacing: 3px;
    }

    .texto-h1, .texto-h1-span {
        font-size: 6ch; /* Reduz o tamanho da fonte */
    }

    .text-container {
        top: 40%; /* Ajusta a posição vertical */
    }
}
