header {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 70px;
    z-index: 1;
}

/* Estilo dos links de navegação */
nav a {
    margin: 0 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

/* Estilo do botão */
.cv-button {
    display: inline-flex; /* Garante que o botão se ajuste ao conteúdo */
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #010F24;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    text-align: center; /* Garante que o texto esteja centralizado */
}

/* Efeito de hover */
.cv-button:hover {
    background-color: #001b44;
    color: #ffffff;
}

/* Estilo para o botão */
.cv-button button {
    all: unset; /* Remove estilos padrão do botão */
    display: block; /* Faz o botão ocupar o tamanho total do contêiner */
    width: 100%; /* Faz o botão ocupar toda a largura do contêiner */
    height: 100%; /* Faz o botão ocupar toda a altura do contêiner */
    text-align: center; /* Centraliza o texto no botão */
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
    nav a {
        font-size: 0.9rem; /* Reduz o tamanho da fonte */
    }

    .cv-button {
        padding: 8px 16px; /* Ajusta o padding */
        font-size: 0.9rem; /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 992px) {
    .cv-button {
        padding: 6px 14px; /* Ajusta o padding */
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 768px) {

    nav a {
        font-size: 0.8rem; /* Reduz o tamanho da fonte */
        margin: 5px 15px; /* Ajusta a margem */
    }

    .cv-button {
        padding: 5px 10px; /* Ajusta o padding */
        font-size: 0.9rem; /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 576px) {
    nav a {
        font-size: 0.7rem; /* Reduz o tamanho da fonte */
    }

    .cv-button {
        padding: 4px 8px; /* Ajusta o padding */
        font-size: 0.8rem; /* Reduz o tamanho da fonte */
    }
}
