header {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 70px;
    z-index: 1;
}


nav a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.cv-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #010F24;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.cv-button:hover {
    background-color: #001b44;
    color: #ffffff; 
}