footer .text-footer{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o texto horizontalmente e verticalmente */
    color: white;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
}

footer .contact-links {
    position: absolute;
    top: 95%;
    left: 90%;
    transform: translate(-50%, -50%); /* Centraliza o texto horizontalmente e verticalmente */
}